<%- include('../includes/boilerplate.ejs') %>
<%- include('../includes/navbar.ejs') %>
<br><br><br>

<% if(recipe_arr.length == 0){ %>
  <h2 style="text-align: center;">No recipes present !</h2>
<% } %>

<div class="container-fluid">
  <% for(let i = 0; i < recipe_arr.length; i+=3){ %>
    <div class="row justify-content-center">
      <% for(let j = i; j < i+3 && j < recipe_arr.length; j++) { %>
        <div class="col-md-4">
          <div class="card mx-3 my-3" style="width: 21rem; height: 11rem; background-image: url('<%= recipe_arr[j].imageUrl %>'); background-repeat: no-repeat; background-size: cover; background-position: center;">
            <div class="card-body my-filter">
              <a href="/details/<%= recipe_arr[j].id %>">
                <h5 class="card-title text-white"><%= recipe_arr[j].title %></h5>
              </a>
              <p class="card-text text-white"><%= recipe_arr[j].time_req %></p>

              <p class="card-text text-white text-end" style="text-align: right;">-> By <%= recipe_arr[j].madeBy %></p>
            </div>
          </div>
        </div>
      <% } %>
    </div>
  <% } %>
</div>


